##Inputs are not to be stored publicly: https://adventofcode.com/2024/about#:~:text=If%20you%27re%20posting%20a%20code%20repository%20somewhere%2C%20please%20don%27t%20include%20parts%20of%20Advent%20of%20Code%20like%20the%20puzzle%20text%20or%20your%20inputs
**/input